<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHAP Values</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container text-center" style="padding-top: 50px;">
    <h1>SHAP Values Explanation</h1>
    <div class="shap-container">
        <h3>Feature Contribution (SHAP)</h3>
        <img src="{{ url_for('static', filename='shap_plot.png') }}" alt="SHAP Value Explanation">
    </div>

    <a href="/" class="btn btn-primary btn-block mt-4">Go Back</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
